<div id="pile-form">
    <form>
        <dl>
            <dd><label for="pile-name">Name</label></dd>
            <dt><input id="pile-name" name="name" /></dt>

            <dd><label for="pile-name">Incoming rule</label></dd>
            <dt><textarea id="pile-incoming" name="incoming"></textarea></dt>

            <dd><label for="pile-name">Outgoing rule</label></dd>
            <dt><textarea id="pile-outgoing" name="outgoing"></textarea></dt>
        </dl>
        <button class="save-pile">save</button>
    </form>
</div>