// font colors
$font-color:            #f0e7d5;
$header-font-color:     #e8e8e8;
$link-font-color:       #ffcc00;
$link-font-color-hover: #ffeb9b;
$link-font-color-small: #666;
$font-color-dark:       #333;

$pile-background-color: #efefef;
$pile-base-color:       #bababa;
$pile-edit-color:       #cfcfcf;

// area colors
$background-color:      #fff;
$modal-background:      #666;
$modal-container-background: #fff;