@font-face {
  font-family: "gamelibrary";
  src: url("../../fonts/gamelibrary-38e3443d61f07d10099b3d1b6bfee21e.eot");
  src: url("../../fonts/gamelibrary-38e3443d61f07d10099b3d1b6bfee21e.eot?#iefix") format("embedded-opentype"), url("../../fonts/gamelibrary-38e3443d61f07d10099b3d1b6bfee21e.woff") format("woff"), url("../../fonts/gamelibrary-38e3443d61f07d10099b3d1b6bfee21e.ttf") format("truetype"), url("../../fonts/gamelibrary-38e3443d61f07d10099b3d1b6bfee21e.svg?#gamelibrary") format("svg");
  font-weight: normal;
  font-style: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/modules\/_gamelibrary\.scss}line{font-family:\0000314}}
.icon {
  font-family: "gamelibrary";
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/modules\/_gamelibrary\.scss}line{font-family:\0000333}}
.icon_eye:before {
  content: "\e001";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/modules\/_gamelibrary\.scss}line{font-family:\0000338}}
.icon_moon:before {
  content: "\e002";
}

/*Animation Prefs*/
@-webkit-keyframes pulse {
  /* line 12, modules/_pile.scss */
  0% {
    background-color: #cfcfcf;
  }

  /* line 13, modules/_pile.scss */
  100% {
    background-color: #efefef;
  }
}
/* card size is defined by .card-container */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/modules\/_pile\.scss}line{font-family:\0000318}}
.card {
  width: 100%;
  height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/modules\/_pile\.scss}line{font-family:\0000322}}
.card iframe {
  pointer-events: none;
  width: 100%;
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/modules\/_pile\.scss}line{font-family:\0000329}}
.pile {
  position: absolute;
  cursor: move;
  width: 120px;
  height: 160px;
  background-color: #efefef;
  -moz-border-radius: 15%;
  -webkit-border-radius: 15%;
  border-radius: 15%;
  border-width: 3px;
  border-style: solid;
  border-color: #d5d5d5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/modules\/_pile\.scss}line{font-family:\0000341}}
.pile > .name-container {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  color: #bababa;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/modules\/_pile\.scss}line{font-family:\0000350}}
.pile > .card-container {
  cursor: pointer;
  width: 70%;
  height: 70%;
  position: absolute;
  top: 15%;
  left: 15%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/modules\/_pile\.scss}line{font-family:\0000358}}
.pile > .card-container > .card {
  position: absolute;
  left: 0;
  top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/modules\/_pile\.scss}line{font-family:\0000365}}
.pile .card {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/modules\/_pile\.scss}line{font-family:\0000369}}
.pile .card:nth-last-child(2),
.pile .card:last-child {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/modules\/_pile\.scss}line{font-family:\0000375}}
.pile.unfolded .card {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/modules\/_pile\.scss}line{font-family:\0000380}}
.pile.edit {
  -webkit-animation: pulse 1s infinite alternate;
  background-color: #cfcfcf;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/modules\/_modal\.scss}line{font-family:\000033}}
#modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999999;
  background-color: rgba(102, 102, 102, 0.5);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/modules\/_modal\.scss}line{font-family:\0000313}}
#modal h1, #modal h2, #modal h3, #modal h4, #modal h5, #modal h6 {
  color: #333333;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/modules\/_modal\.scss}line{font-family:\0000317}}
#modal input,
#modal textarea {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/modules\/_modal\.scss}line{font-family:\0000322}}
#modal textarea {
  min-height: 70px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/modules\/_modal\.scss}line{font-family:\0000326}}
#modal .modal-wrapper {
  position: relative;
  margin: auto;
  padding: 20px;
  height: 150px;
  width: 350px;
  text-align: center;
  background-color: white;
  border: 3px solid #666666;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/modules\/_modal\.scss}line{font-family:\0000338}}
#modal .close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.9\.1\/gems\/compass-core-1\.0\.0\.alpha\.19\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\000035}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.9\.1\/gems\/compass-core-1\.0\.0\.alpha\.19\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000322}}
html {
  line-height: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.9\.1\/gems\/compass-core-1\.0\.0\.alpha\.19\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000324}}
ol, ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.9\.1\/gems\/compass-core-1\.0\.0\.alpha\.19\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000326}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.9\.1\/gems\/compass-core-1\.0\.0\.alpha\.19\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000328}}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.9\.1\/gems\/compass-core-1\.0\.0\.alpha\.19\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000330}}
q, blockquote {
  quotes: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.9\.1\/gems\/compass-core-1\.0\.0\.alpha\.19\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003103}}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.9\.1\/gems\/compass-core-1\.0\.0\.alpha\.19\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000332}}
a img {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.9\.1\/gems\/compass-core-1\.0\.0\.alpha\.19\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003116}}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.9\.1\/gems\/compass-core-1\.0\.0\.alpha\.19\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\000035}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.9\.1\/gems\/compass-core-1\.0\.0\.alpha\.19\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000322}}
html {
  line-height: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.9\.1\/gems\/compass-core-1\.0\.0\.alpha\.19\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000324}}
ol, ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.9\.1\/gems\/compass-core-1\.0\.0\.alpha\.19\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000326}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.9\.1\/gems\/compass-core-1\.0\.0\.alpha\.19\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000328}}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.9\.1\/gems\/compass-core-1\.0\.0\.alpha\.19\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000330}}
q, blockquote {
  quotes: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.9\.1\/gems\/compass-core-1\.0\.0\.alpha\.19\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003103}}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.9\.1\/gems\/compass-core-1\.0\.0\.alpha\.19\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000332}}
a img {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.9\.1\/gems\/compass-core-1\.0\.0\.alpha\.19\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003116}}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/partials\/_typography\.scss}line{font-family:\000035}}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/partials\/_typography-headers\.scss}line{font-family:\000031}}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/partials\/_typography-headers\.scss}line{font-family:\000036}}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/partials\/_typography-headers\.scss}line{font-family:\0000311}}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/partials\/_typography-headers\.scss}line{font-family:\0000316}}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/partials\/_typography-headers\.scss}line{font-family:\0000321}}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/partials\/_typography-headers\.scss}line{font-family:\0000326}}
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/partials\/_typography-headers\.scss}line{font-family:\0000332}}
h1, h2, h3, h4, h5, h6 {
  color: #e8e8e8;
  margin: 0 0 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
}

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/partials\/_typography-links\.scss}line{font-family:\000037}}
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/partials\/_typography-links\.scss}line{font-family:\0000315}}
a:hover,
a:active {
  outline: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/partials\/_typography-links\.scss}line{font-family:\0000321}}
a {
  color: #ffcc00;
  font-weight: 400;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/partials\/_typography-links\.scss}line{font-family:\0000326}}
a:hover {
  color: #ffeb9b;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/partials\/_typography-links\.scss}line{font-family:\0000330}}
a small {
  font-size: 11px;
  color: #666666;
  margin-top: -0.6em;
  display: block;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/partials\/_typography\.scss}line{font-family:\0000323}}
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/partials\/_typography\.scss}line{font-family:\0000330}}
b,
strong {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/partials\/_typography\.scss}line{font-family:\0000335}}
blockquote {
  margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/partials\/_typography\.scss}line{font-family:\0000342}}
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/partials\/_typography\.scss}line{font-family:\0000349}}
mark {
  background: #ff0;
  color: #000;
}

/*
 * Addresses margins set differently in IE6/7
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/partials\/_typography\.scss}line{font-family:\0000357}}
p,
pre {
  margin: 1em 0;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/partials\/_typography\.scss}line{font-family:\0000366}}
pre,
code,
kbd,
samp {
  font-family: monospace;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/partials\/_typography\.scss}line{font-family:\0000380}}
q {
  quotes: none;
}

/* 2 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/partials\/_typography\.scss}line{font-family:\0000385}}
q:before,
q:after {
  content: '';
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/partials\/_typography\.scss}line{font-family:\0000391}}
small {
  font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/partials\/_typography\.scss}line{font-family:\0000399}}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/partials\/_typography\.scss}line{font-family:\00003107}}
sup {
  top: -0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/partials\/_typography\.scss}line{font-family:\00003111}}
sub {
  bottom: -0.25em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/partials\/_body\.scss}line{font-family:\000031}}
body {
  background-color: white;
}

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/partials\/_forms\.scss}line{font-family:\000039}}
form {
  margin: 0;
}

/*
 * Define consistent border, margin, and padding
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/partials\/_forms\.scss}line{font-family:\0000316}}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3
 * 3. Corrects alignment displayed oddly in IE6/7
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/partials\/_forms\.scss}line{font-family:\0000327}}
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/partials\/_forms\.scss}line{font-family:\0000342}}
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/partials\/_forms\.scss}line{font-family:\0000359}}
button,
input {
  line-height: normal;
  /* 1 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/partials\/_forms\.scss}line{font-family:\0000371}}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */
}

/*
 * Re-set default cursor for disabled elements
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/partials\/_forms\.scss}line{font-family:\0000386}}
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/partials\/_forms\.scss}line{font-family:\0000397}}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/partials\/_forms\.scss}line{font-family:\00003113}}
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/partials\/_forms\.scss}line{font-family:\00003125}}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/partials\/_forms\.scss}line{font-family:\00003134}}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/partials\/_forms\.scss}line{font-family:\00003144}}
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/partials\/_tables\.scss}line{font-family:\000038}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* =============================================================================
   Paths
   ========================================================================== */
/*
 * takes colors from colors.scss
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/partials\/_paths\.scss}line{font-family:\000037}}
path.curve,
path.chord,
path.line {
  fill: none;
  stroke-width: 1px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/partials\/_paths\.scss}line{font-family:\0000314}}
path.chord,
path.curve {
  stroke: red;
  stroke-width: 3px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/ma\/Documents\/studium\/master\/gamelibrary3\/src\/assets\/stylesheets\/partials\/_paths\.scss}line{font-family:\0000320}}
circle {
  fill: #ccc;
  stroke: #000;
  stroke-width: 0.5px;
}

/*# sourceMappingURL=main.css.map */
